
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*********                              INICIO                              ************/
header {
    width: 100%;
    background-color: #E2C799;
    padding: 1.5625rem 1.5rem;
}
h1{
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 20px    ;
    font-family: 'Black Ops One', cursive;
}
.main-index {
    width: 100%;
    background-color: #C08261;
}

.navbar{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1.5rem;
    justify-content: right;
}

.navbar li a{
    text-decoration: none;
    color: black;
}




footer {
    width: 100%;
    background-color: #E2C799;
    padding: 1.5625rem 1.5rem;
    font-family: 'Raleway', sans-serif;
}
.section-1-footer { 
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1.5rem;
    justify-content: left;
}
.section-2-footer img  {
    width: 1%;
}

.section-2-footer { 
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1.5rem;
    justify-content: right;
}


/*************** PRODUCTOS   **************/



.main-productos { 
    width: 100%;
    background-color: #C08261;
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 5% 1fr 1fr ;
    grid-template-areas: 
    "h1 h1 h1"
    "card-1 card-2 card-3"
    "card-4 card-5 card-6"
}


.h1{ 
    grid-area: h1;
}

.card-1 { 
    background-color: white;
    width: 100%;
    height: 100%;
    border: .0625rem solid rgba(0, 0, 0, 0.281);
    border-radius: .9375rem;
    overflow: hidden;
    box-shadow: .125rem .125rem .625rem gray;
    margin: .3125rem;
    margin-top: .3125rem;
    font-family: 'Raleway', sans-serif;
    grid-area: card-1;
}

.card-2 { 
    background-color: white;
    width: 100%;
    height: 100%;
    border: .0625rem solid rgba(0, 0, 0, 0.281);
    border-radius: .9375rem;
    overflow: hidden;
    box-shadow: .125rem .125rem .625rem gray;
    margin: .3125rem;
    margin-top: .3125rem;
    font-family: 'Raleway', sans-serif;
    grid-area: card-2;
}
.card-3 {
    background-color: white;
    width: 100%;
    height: 100%;
    border: .0625rem solid rgba(0, 0, 0, 0.281);
    border-radius: .9375rem;
    overflow: hidden;
    box-shadow: .125rem .125rem .625rem gray;
    margin: .3125rem;
    margin-top: .3125rem;
    font-family: 'Raleway', sans-serif;
    grid-area: card-3;
}

.card-4 { 
    background-color: white;
    width: 100%;
    height: 100%;
    border: .0625rem solid rgba(0, 0, 0, 0.281);
    border-radius: .9375rem;
    overflow: hidden;
    box-shadow: .125rem .125rem .625rem gray;
    margin: .3125rem;
    margin-top: .3125rem;
    font-family: 'Raleway', sans-serif;
    grid-area: card-4;
}


.card-5 { 
    background-color: white;
    width: 100%;
    height: 100%;
    border: .0625rem solid rgba(0, 0, 0, 0.281);
    border-radius: .9375rem;
    overflow: hidden;
    box-shadow: .125rem .125rem .625rem gray;
    margin: .3125rem;
    margin-top: .3125rem;
    font-family: 'Raleway', sans-serif;
    grid-area: card-5;
}


.card-6 {
    background-color: white;
    width: 100%;
    height: 100%;
    border: .0625rem solid rgba(0, 0, 0, 0.281);
    border-radius: .9375rem;
    overflow: hidden;
    box-shadow: .125rem .125rem .625rem gray;
    margin: .3125rem;
    margin-top: .3125rem;
    font-family: 'Raleway', sans-serif;
    grid-area: card-6;
}


.card-1 img {
    width: 100%;
}
.card-2 img {
    width: 100%;
}
.card-3 img {
    width: 100%;
}
.card-4 img {
    width: 100%;
}
.card-5 img {
    width: 100%;
}
.card-6 img {
    width: 100%;
}



/*************** CONTACTOS  **************/



.main-contactos {
    background-color: #C08261;
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 45% 45%;
    grid-template-areas: 
    "h1-contact h1-contact h1-contact"
    "form  mapa ."
    "form  mapa ."
    ;
}

.h1-contactos {
    grid-area: h1-contact;
}
.formulario {
    grid-area: form;
}

.mapa-locales {
    grid-area: mapa;
}


/*************** NOSOTROS  **************/



.main-nosotros {
    width: 100%;
    background-color: #C08261;
}

.section-1-nosotros div{
    background-color: whitesmoke;
    width: 50%;
    height: 50%;
    border: solid black;
    border-radius: .3125rem;
    overflow: hidden;
    box-shadow: .125rem .125rem .625rem gray;
    margin: .3125rem;
    margin-top: .3125rem;
    font-family: 'Raleway', sans-serif;

}

.section-2-nosotros div{
    background-color: whitesmoke;
    width: 50%;
    height: 50%;
    border: solid black;
    border-radius: .3125rem;
    overflow: hidden;
    box-shadow: .125rem .125rem .625rem gray;
    margin: .3125rem;
    margin-top: .3125rem;
    font-family: 'Raleway', sans-serif;

}


/*************** CUIDADOS  **************/
.main-cuidados {
    width: 100%;
    background-color: #C08261;

}

.section-2-cuidados {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.card-cuidados {
    background-color: whitesmoke;
    width: 50%;
    height: 50%;
    border: solid black;
    border-radius: .3125rem;
    overflow: hidden;
    box-shadow: .125rem .125rem .625rem gray;
    margin: .3125rem;
    margin-top: .3125rem;
    font-family: 'Raleway', sans-serif;

}

